# Project executed with Python3.7
# Use virtualenv -p python3.7 env

sqlalchemy==1.3.0
requests==2.20.0
PyGithub==1.40
oauth2client==4.0.0
google-api-python-client==1.6.2
configparser==3.5.0
python-dateutil==2.8.0
pytz==2018.9

